<!-- meta tags and other links -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{siteName()[1]}} - {{ pageTitle }}</title>

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- site favicon -->
    <link rel="shortcut icon" type="image/png" href="{{getImage(imagePath()['logoIcon']['path']+'/favicon.png')}}">
    <link href="{{getImage(imagePath()['logoIcon']['path']+'/favicon.png')}}" rel="icon">
    <link href="{{getImage(imagePath()['logoIcon']['path']+'/favicon.png')}}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{url_for('static', filename='assets/basic/aos/aos.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/basic/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/basic/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/basic/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
    <!-- <link href="{{url_for('static', filename='assets/basic/css/all.min.css')}}" rel="stylesheet"> -->
    <link href="{{url_for('static', filename='assets/basic/css/line-awesome.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/basic/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/basic/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{url_for('static', filename='css/style1.css')}}" rel="stylesheet">

    {% block style_lib %}{% endblock %}

    {% block style %}{% endblock %}
    <style>
        .facts .count-box i{
            font-size: 55px;
            line-height: normal;
        }
    </style>
</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    {% include 'basic/partials/header.html' %}
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    {% include 'basic/partials/banner.html' %}
    <!-- End Hero -->

    <main id="main">

        <!-- ======= Content ======= -->
        {% block content %}{% endblock %}
        <!-- End Content -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include 'basic/partials/footer.html' %}
    <!-- End  Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    {% include 'partials/notify.html' %}
    <!-- Vendor JS Files -->
    {% block script_lib %}{% endblock %}
    <script src="{{url_for('static', filename='assets/basic/purecounter/purecounter_vanilla.js')}}"></script>
    <script src="{{url_for('static', filename='assets/basic/aos/aos.js')}}"></script>
    <script src="{{url_for('static', filename='assets/basic/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/basic/glightbox/js/glightbox.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/basic/isotope-layout/isotope.pkgd.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/basic/swiper/swiper-bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/basic/typed.js/typed.umd.js')}}"></script>
    <script src="{{url_for('static', filename='assets/basic/waypoints/noframework.waypoints.js')}}"></script>
    <!-- <script src="{{url_for('static', filename='assets/basic/php-email-form/validate.js')}}"></script> -->

    <!-- Template Main JS File -->
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    {% block script %} {% endblock %}

</body>

</html>