{% extends 'admin/layouts/app.html' %}
{% block panel %}

    <div class="row">

        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body p-0">
                    <div class="table-responsive table-responsive--sm">
                        <table class=" table align-items-center table--light">
                            <thead>
                            <tr>
                                <th>Short Code </th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            <tr>
                                <td data-label="Short Code">{{"{{fullname}}"}}</td>
                                <td data-label="Description">User Fullname</td>
                            </tr>
                            <tr>
                                <td data-label="Short Code">{{"{{username}}"}}</td>
                                <td data-label="Description">User Name</td>
                            </tr>
                            <tr>
                                <td data-label="Short Code">{{"{{message}}"}}</td>
                                <td data-label="Description">Message</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <form action="{{ url_for('email.global.update') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                        <div class="form-row">

                            <div class="form-group col-md-12">
                                <label class="font-weight-bold">Email Sent From <span class="text-danger">*</span></label>
                                <input type="text" class="form-control form-control-lg" placeholder="Email address" name="email_from" value="{{ general.email_from }}" required/>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="font-weight-bold">Email Body <span class="text-danger">*</span></label>
                                <textarea name="email_template" rows="10" class="form-control form-control-lg nicEdit" placeholder="Your email template">{{ general.email_template }}</textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-block btn--primary mr-2">Update</button>
                    </form>
                </div>
            </div><!-- card end -->
        </div>
    </div>

{% endblock %}


