{% extends 'admin/layouts/app.html' %}
{% block panel %}
    <div class="row mb-none-30">
        <div class="col-lg-12 col-md-12 mb-30">
            <div class="panel">
                <div class="panel-body">
                    <form action="" method="POST">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group ">
                                    <label class="form-control-label font-weight-bold">Site Title</label>
                                    <input class="form-control input-lg" type="text" name="sitename" value="{{general.sitename}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group ">
                                    <label class="form-control-label font-weight-bold">Currency</label>
                                    <input class="form-control input-lg" type="text" name="cur_text" value="{{general.cur_text}}" disabled>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group ">
                                    <label class="form-control-label font-weight-bold">Currency Symbol</label>
                                    <input class="form-control input-lg" type="text" name="cur_sym" value="{{general.cur_sym}}" disabled>
                                </div>
                            </div>

                            <div class="form-group col-md-3 timez">
                                <label class="form-control-label font-weight-bold">Timezone</label>
                                <select class="select2-basic" name="timezone">
                                    {% for timezone in timezones %}
                                    <option value="{{timezone}}">{{timezone}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-3">
                                <label class="form-control-label font-weight-bold"> Site Base Color</label>
                                <div class="input-group">
                                <span class="input-group-addon ">
                                    <input type='text' class="form-control input-lg colorPicker" value="{{general.base_color}}"/>
                                </span>
                                    <input type="text" class="form-control input-lg colorCode" name="base_color" value="{{general.base_color}}"/>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="form-control-label font-weight-bold"> Site Secondary Color</label>
                                <div class="input-group">
                                <span class="input-group-addon">
                                    <input type='text' class="form-control input-lg colorPicker" value="{{general.secondary_color}}"/>
                                </span>
                                    <input type="text" class="form-control input-lg colorCode" name="secondary_color" value="{{general.secondary_color}}"/>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="form-control-label font-weight-bold">Force Secure Password</label>
                                <input type="checkbox" data-width="100%" data-size="large" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" data-on="Enable" data-off="Disabled" name="secure_password" {% if general.secure_password %} checked {% endif %}>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="form-control-label font-weight-bold">Agree policy</label>
                                <input type="checkbox" data-width="100%" data-size="large" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" data-on="Enable" data-off="Disabled" name="agree" {% if general.agree %} checked {% endif %}>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label class="form-control-label font-weight-bold">User Registration</label>
                                <input type="checkbox" data-width="100%" data-size="large" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" data-on="Enable" data-off="Disabled" name="registration" {% if general.registration %} checked {% endif %}>
                            </div>

                            <div class="form-group col-md-2">
                                <label class="form-control-label font-weight-bold">Force SSL</label>
                                <input type="checkbox" data-width="100%" data-size="large" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" data-on="Enable" data-off="Disabled" name="force_ssl" {% if general.force_ssl %} checked {% endif %}>
                            </div>
                            <div class="form-group col-lg-2 col-sm-6 col-md-4">
                                <label class="form-control-label font-weight-bold"> Email Verification</label>
                                <input type="checkbox" data-width="100%" data-size="large" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" data-on="Enable" data-off="Disable" name="ev" {% if general.ev %} checked {% endif %}>
                            </div>
                            <div class="form-group col-lg-2 col-sm-6 col-md-4">
                                <label class="form-control-label font-weight-bold">Email Notification</label>
                                <input type="checkbox" data-width="100%" data-size="large" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" data-on="Enable" data-off="Disable" name="en" {% if general.en %} checked {% endif %}>
                            </div>
                            <div class="form-group col-lg-2 col-sm-6 col-md-4">
                                <label class="form-control-label font-weight-bold">SMS Verification</label>
                                <input type="checkbox" data-width="100%" data-size="large" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" data-on="Enable" data-off="Disable" name="sv" {% if general.sv %} checked {% endif %}>
                            </div>
                            <div class="form-group col-lg-2 col-sm-6 col-md-4">
                                <label class="form-control-label font-weight-bold">SMS Notification</label>
                                <input type="checkbox" data-width="100%" data-size="large" data-onstyle="success" data-offstyle="danger" data-toggle="toggle" data-on="Enable" data-off="Disable" name="sn" {% if general.sn %} checked {% endif %}>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_lib %}
    <script src="{{ url_for('static',filename='assets/admin/js/spectrum.js') }}"></script>
{% endblock %}

{% block style_lib %}
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/admin/css/spectrum.css') }}">
{% endblock %}


{% block style %}
    <style>
        .sp-replacer {
            padding: 0;
            border: 1px solid rgba(0, 0, 0, .125);
            border-radius: 5px 0 0 5px;
            border-right: none;
        }

        .sp-preview {
            width: 100px;
            /* height: 46px; */
            border: 0;
        }

        .sp-preview-inner {
            width: 110px;
        }

        .sp-dd {
            display: none;
        }
        .select2-container .select2-selection--single {
            height: 44px;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 43px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 43px;
        }
    </style>
{% endblock %}

{% block script %}
{{super()}}
    <script>
        (function ($) {
            "use strict";
            $('.colorPicker').spectrum({
                color: $(this).data('color'),
                change: function (color) {
                    $(this).parent().siblings('.colorCode').val(color.toHexString().replace(/^#?/, ''));
                }
            });

            $('.colorCode').on('input', function () {
                var clr = $(this).val();
                $(this).parents('.input-group').find('.colorPicker').spectrum({
                    color: clr,
                });
            });

            $('.select2-basic').select2({
                dropdownParent: $('.timez')
            });
            $('.select2-container').css('width', '100%');
            $('select[name=timezone]').val();
        })(jQuery);

    </script>
{% endblock %}

